<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCVXXPOprfrjqH7QRfTAv6S1yIrBXZDoLo</string>
	<key>GCM_SENDER_ID</key>
	<string>698287726290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sametkorkmaz.tigaStaff</string>
	<key>PROJECT_ID</key>
	<string>tigastaff-eca28</string>
	<key>STORAGE_BUCKET</key>
	<string>tigastaff-eca28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698287726290:ios:292c9635b7d3015064970b</string>
</dict>
</plist>